PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/comly
JWT_ACCESS_SECRET=key_will_change_in_prod
JWT_REFRESH_SECRET=key_will_change_in_prod
CLIENT_URL=http://localhost:5173
BASE_URL=http://localhost:5000